@model ContactBook.Models.Contact

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Contact</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CellNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CellNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Favourite)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Favourite)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Category)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category)
        </dd>


    </dl>

</div>
<div align="right">
    @if (Request.IsAuthenticated)
    {
        using (Html.BeginForm("Logout", "User", FormMethod.Post, new { id = "logoutForm" }))
        {
            <a href="javascript:document.getElementById('logoutForm').submit()">Logout</a>
        }
    }
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ContactID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
